@import "bootstrap"

.alert
  position: absolute
  bottom: 0
  left: 0
  z-index: 10
  margin-bottom: 0px
  width: 90%

canvas
  display: none

.hero
  height: 150px
  top: 25%
  position: absolute
  z-index: 10
  width: 100%
  background: rgba(0,255,0,.2)
  text-align: center
  .inner
    position: relative
    top: 25px

#container
  width: 50%
  margin: 0 auto
  .block
    position: absolute
    margin: 0px
    padding: 0px
    opacity: 0.3